<app-nav></app-nav>

<section id="media" class="media-section">
    <div id="service-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center wow slideInDown">
                    <h2>Media</h2>
                </div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../../images/upasa_web_logo.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">UPASA Meet up</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../../images/upasa_web_logo.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">UPASA in news</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="sponsors-section">
    <app-sponsors></app-sponsors>
</div> -->
<app-footer></app-footer>