<!-- <div class="footer">
  <div class="contain">
  <div class="col">
    <h1>Useful Links</h1>
    <ul>
      <li>UPASA Committes</li>
      <li>Programs and Events</li>
      <li>Student Resources</li>
      <li>In Media</li>
    </ul>
  </div>
  <div class="col social">
    <h1>Follow Us</h1>
    <ul>
      <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
      <li><img src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/gplus.png" width="32" style="width: 32px;"></li>
      <li><img src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/instagram-badge.png" width="32" style="width: 32px;"></li>
    </ul>
  </div>
  <div class="col">
    <h1>Contact Us</h1>
    <ul>
      <li>Post Box: 1101</li>
      <li>Little Em, Texas 75068 USA</li>
      <li>Ph No: 123-456-7890</li>
      <li>Email: upasa17@gmail.com</li>
    </ul>
  </div>
<div class="clearfix"></div>
</div>
</div> -->