<app-nav></app-nav>
<div class="flex-container">
    <div class="side-panel d-none d-xl-block">
        <div class="sponsor-title">SPONSORS</div>
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg" width="225px" />
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg" width="225px" />
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg" width="225px" />
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg" width="225px" />
    </div>
    <div class="main-section">
        <section id="contact-us" class="social-section">
        <!--contact-us-1 start -->
        <div id="contact-us1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 padding wow slideInLeft">
                        <div class="left-section">
                            <div class="hovereffect">
                                <a href="https://www.instagram.com/" target="_blank">
                                    <img src="http://www.themesindustry.com/html/riwa/images/insta1.jpg" alt="social">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <div class="overlay">
                                    <a class="social" href="https://www.facebook.com/" target="_blank">
                                        <div class="icon clearfix">
                                            <i class="fa fa-facebook pull-left" aria-hidden="true"></i>
                                            <span class="pull-right">@newsitedesign</span>
                                        </div>
                                        <div class="info">
                                            <p>Lorem ipsum is simply <span>@www.google.com</span> dummy text of the printing
                                                and
                                                typesetting industry.</p>
                                            <div class="subscriber">
                                                <span class="btn  button">10k likes</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 padding wow slideInRight">
                        <div class="right-section">
                            <a class="social" href="https://twitter.com/" target="_blank">
                                <div class="icon  clearfix">
                                    <i class="fa fa-twitter pull-left" aria-hidden="true"></i>
                                    <span class="pull-right">@newsitedesign</span>
                                </div>
                                <div class="info">
                                    <p>Lorem ipsum is simply <span>@www.google.com</span> dummy text of the printing and
                                        typesetting
                                        industry. Lorem Ipsum standard dummy.</p>
                                    <div class="subscriber">
                                        <span class="btn  button">35k Followers</span>
                                    </div>
                                </div>
                            </a>
                            <a class="insta-2-3" href="https://www.instagram.com/" target="_blank">
                                <div class="pull-left left"><img src="http://www.themesindustry.com/html/riwa/images/insta2.jpg" class="pull-left" alt="social">
                                </div>
                                <div class="pull-right right"><img src="http://www.themesindustry.com/html/riwa/images/insta3.jpg" class="pull-right" alt="social">
                                </div>
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--contact-us-1 end-->

        <!-- contact-us2 start -->
        <div id="contact-us2" class="mid-level-padding">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="left-section">
                            <div class="vertical-heading">
                                <span>Who We Are</span>
                                <h2>
                                    Get <br>
                                    in <strong>Touch</strong>
                                </h2>
                            </div>
                            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry’s standard.</p>
                            <div id="countries">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>United States</h4>
                                        <ul class="details one">
                                            <li><i class="fa fa-mobile" aria-hidden="true"></i>+(12) 345 67 89 01</li>
                                            <li><i class="fa fa-envelope" aria-hidden="true"></i>support@UPASA.com</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Oak Street Building <br>Manchester, USA</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>Australia</h4>
                                        <ul class="details ">
                                            <li><i class="fa fa-mobile" aria-hidden="true"></i>+(12) 345 67 89 01</li>
                                            <li><i class="fa fa-envelope" aria-hidden="true"></i>support@UPASA.com</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>2Oak Street Building <br>Manchester, USA</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                                <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                                <li><a href="#."><i class="fa fa-fw fa fa-instagram"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="right-section" id="form-elements">
                            <form  onsubmit="return false" method="post">
                                <h4>Leave Message</h4>
                                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="row">
                                <div class="col-md-12 center"><div id="result"></div> </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your Name" required="required" id="name" name="name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email Address" required="required" id="email" name="email">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone No." required="required" id="phone" name="phone">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Subject" required="required" id="subject" name="subject">
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message" required="required" id="message" name="message"></textarea>
                                </div>
                                <button type="submit" class="btn button" id="submit_btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact-us2 end-->

        <!-- contact-us3 start-->
        <!--/g-map-->
        <div id="g-map">
            <div class="container-fluid ">
                <div class="row">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <!--/g-map-->
        <!-- contact-us3 end-->

        </section>
    </div>
    <div class="side-panel d-none d-xl-block">
        <div class="sponsor-title">SPONSORS</div>
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg" width="225px" />
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg" width="225px" />
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg" width="225px" />
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg" width="225px" />
    </div>
</div>
<app-footer></app-footer>