.social-section {
  padding-top: 15rem;
}
navbar .side-menu-button {
    position: absolute !important;
    top: 35px !important;
    right: 50px !important;
}
@media (min-width: 1200px) {
  .navbar, .page-footer {
       padding-left: 0px !important; 
  }
}
@media (max-width: 767px) {
  .navbar-header {
       position: absolute;
      top: 10px;
  }
  .nav {
    display: block;
  }
  // .main-section {
  //   height: 100% !important;
  //   width: 100% !important;
  // }
}
::ng-deep .navbar .nav li a {
  color: black !important;
}
// .side-panel {
//   background: grey;
//   position: relative;
//   top: 115px;
//   width: 20%;
// }
// .main-section {
//   height: 74.6vh;
//   overflow: auto;
//   width: 60%;
// }
// .sponsor-title {
//   border: 1px solid white;
//   background: white;
//   font-weight: 700;
//   color: red;
//   padding: 7px;
//   text-align: center;
//   margin: 10px;
// }
// .flex-container {
//   display: flex;
// }
// .side-panel img {
//   margin-left: 35px;
// }