.spacer {
  margin: 20px;
}
.label {
  margin-left: 20px;
}
.form-header {
  text-align: center;
  background-color: #fff;
}
.registration-heading {
  font-size: 22px;
  color: #453e79;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #dad8e4;
  margin-bottom: 75px;
  font-weight: 400;
}
.mat-form-field {
  display: block;
}

::ng-deep .mat-stepper-horizontal, .mat-stepper-vertical {
  font-family: "Muli-SemiBold";
}
::ng-deep .mat-form-field {
  font-family: "Muli-SemiBold";
}
::ng-deep .mat-radio-button {
  font-family: "Muli-SemiBold";
}
::ng-deep .mat-horizontal-stepper-header-container .mat-step-label {
  display: none;
}
::ng-deep .mat-horizontal-stepper-header-container .mat-step-icon-content {
  display: none;
}
::ng-deep
  .mat-horizontal-stepper-header-container
  .mat-stepper-horizontal-line {
  border-top-style: solid;
  height: 0;
  margin: 0 -16px;
  width: 50px;
  flex: none;
  position: relative;
  left: 41%;
}
::ng-deep .mat-step-header {
  left: 41%;
}
::ng-deep .mat-form-field-type-mat-native-select {
  margin-left: 20px;
}
button {
  padding: 0;
    border: none;
    display: inline-flex;
    height: 41px;
    width: 135px;
    align-items: center;
    background: #e9e0cf;
    font-family: "Muli-SemiBold";
    color: #666;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}
::ng-deep .mat-button-wrapper {
  width: 100% !important;
}
.submit-btn {
  background: #6d7f52;
  color: white;
}
@media (max-width: 767px) {
  ::ng-deep
  .mat-horizontal-stepper-header-container
  .mat-stepper-horizontal-line {
    left: 9%;
  }
  ::ng-deep .mat-step-header {
  left: 9%;
  }
  ::ng-deep .d-flex {
    flex-direction: column !important;
  }
}