.spacer {
  margin: 20px;
}
.form-header {
  text-align: center;
  background-color: #fff;
}
#registerationTitleContainer {
  padding-top: 13px !important;
}
.registration-heading {
  font-size: 22px;
  color: #453e79;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #dad8e4;
  font-weight: 400;
}
.mat-form-field {
  display: block;
}
::ng-deep .mat-error  {
  font-size: 7px;
  font-weight: inherit;
}

::ng-deep .mat-stepper-horizontal,
.mat-stepper-vertical {
  font-family: "Muli-SemiBold";
}
::ng-deep .mat-form-field {
  font-family: "Muli-SemiBold";
}
::ng-deep .mat-radio-button {
  font-family: "Muli-SemiBold";
}
::ng-deep .mat-horizontal-stepper-header-container .mat-step-label {
  display: none;
}
::ng-deep .mat-horizontal-stepper-header-container .mat-step-icon-content {
  display: none;
}
::ng-deep
  .mat-horizontal-stepper-header-container
  .mat-stepper-horizontal-line {
  border-top-style: solid;
  height: 0;
  margin: 0 -16px;
  width: 50px;
  flex: none;
  position: relative;
  left: 30%;
}
::ng-deep .mat-step-header {
  left: 30%;
}
::ng-deep .mat-form-field-type-mat-native-select {
  margin-left: 20px;
}
button {
  padding: 0;
  border: none;
  display: inline-flex;
  height: 41px;
  width: 135px;
  align-items: center;
  background: #e9e0cf;
  font-family: "Muli-SemiBold";
  color: #666;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}
::ng-deep .mat-button-wrapper {
  width: 100% !important;
}
.submit-btn {
  background: #6d7f52;
  color: white;
}

// To Disable Click Event on Stepper Icons
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
  height: 50px !important;
}

:host ::ng-deep .mat-form-field {
  margin: 3px !important;
}
.registerSuccess {
  background: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  color: green;
}
.success-text {
  position: relative;
  top: 25%;
  font-weight: bolder;
}
.register-back {
  margin-top: 30px;
  padding-left: 30px;
}
@media (max-width: 767px) {
  ::ng-deep
    .mat-horizontal-stepper-header-container
    .mat-stepper-horizontal-line {
    left: 14%;
  }
  ::ng-deep .mat-step-header {
    left: 14%;
  }
  ::ng-deep .container-fluid {
    padding-top: 5px !important;
    padding: 10px 5px 5px 5px;
  }
  ::ng-deep .d-flex {
    flex-direction: column !important;
  }
  ::ng-deep .d-buttons {
    flex-direction: inherit !important;
  }
  .image-holder {
    display: none;
  }
  ::ng-deep .business-section {
    display: block;
  }
  ::ng-deep .col-6, .col-4 {
    max-width: 100%;
  }
  ::ng-deep .spouse-personal {
    display: block !important;
  }
  .success-text {
    height: 100vh;
  }
}
@media (min-width: 1200px) {
  ::ng-deep .container {
    margin-top: 7%;
    width: 70% !important;
  }
  ::ng-deep .second-section {
    height: 325px;
    overflow: auto;
  }
}

::ng-deep .mainContainer {
  background: #f9f6f1;
}
::ng-deep .registration-container {
  display: flex;
}

::ng-deep .mat-horizontal-stepper-header-container .mat-step-icon {
  height: 15px;
  width: 15px;
}
::ng-deep .mat-horizontal-stepper-header-container .mat-step-icon-selected {
  background: #6d7f52;
}
::ng-deep .mat-horizontal-stepper-header-container .mat-form-field-wrapper {
  padding-bottom: 0px;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}
::ng-deep .mat-form-field-underline {
  position: initial !important;
}
::ng-deep .spacer.mat-radio-button {
  margin: 20px 0 0 20px !important;
}
::ng-deep .mat-horizontal-content-container .d-buttons {
  margin-top: 25px;
}
::ng-deep .mat-horizontal-content-container {
  padding: 0 24px 16px 24px !important;
}
::ng-deep .logo-image {
  width: 350px !important;
  height: 350px !important;
}
::ng-deep .image-holder {
  background: #ccc;
  display: flex;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   ::ng-deep .mat-form-field {
      line-height: 3.5 !important;
    }
    ::ng-deep .mat-input-element {
      position: relative !important;
      top: -15px !important;
    }
}