<app-nav></app-nav>
<div class="registration-container register-container">
  <div class="image-holder">
    <img src="images/upasa_web.png" alt="" class="logo-image" />
  </div>
  <div class="stepper-container" [ngClass]="{ registerSuccess: submitSuccess }">
    <div id="registerationTitleContainer" class="form-header pt-5">
      <h3 class="registration-heading">Registration</h3>
    </div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="!submitSuccess">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <!-- <ng-template matStepLabel>Fill out your details</ng-template> -->
          <div fxLayout="row" class="d-flex">
            <div class="p-2 flex-fill">
              <mat-form-field class="spacer">
                <input
                  matInput
                  placeholder=" First Name"
                  formControlName="firstName"
                  required
                />
              </mat-form-field>
            </div>
            <div class="p-2 flex-fill">
              <mat-form-field class="spacer">
                <input
                  matInput
                  placeholder="Last Name "
                  formControlName="lastName"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" class="d-flex">
            <div class="p-2 flex-fill">
              <mat-form-field class="spacer">
                <input
                  matInput
                  placeholder="Email"
                  formControlName="userEmail"
                  type="email"
                  required
                />
              </mat-form-field>
              <mat-error *ngIf="isExistedEmail"
                >Email id already registered</mat-error
              >
            </div>
            <div class="p-2 flex-fill">
              <mat-form-field class="spacer">
                <input
                  matInput
                  type="text"
                  placeholder="Phone"
                  appPhoneMask
                  formControlName="mobile"
                  id="phone-number"
                  required
                />
              </mat-form-field>
              <mat-error *ngIf="firstFormGroup.get('phone')?.invalid"
                >First digit should be 1 if the phone number is 11
                digits</mat-error
              >
            </div>
          </div>
          <div fxLayout="row" class="d-flex">
            <div class="p-2 flex-fill" id="dateOfBirthDatePicker">
              <mat-form-field class="spacer">
                <input
                  matInput
                  [matDatepicker]="personalDoBPicker"
                  placeholder="Birth Date"
                  formControlName="dateOfBirth"
                  required
                  (click)="personalDoBPicker.open()"
                  (keydown)="(false)"
                  (focus)="personalDoBPicker.open()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="personalDoBPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker touchUi #personalDoBPicker></mat-datepicker>
                <!-- <mat-error *ngIf="DateOfBirth.errors?.urlValid">
                  <sup>Age should be minimum 16 years</sup>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="p-2 flex-fill">
              <mat-radio-group
                aria-label="Select an option"
                formControlName="maritalStatus"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="chosenMaritalStatus"
              >
                <mat-radio-button
                  class="spacer"
                  *ngFor="let op of maritalStatusList"
                  [value]="op.value"
                  name="opList"
                >
                  {{ op.name }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
          </div>
          <div formGroupName="homeAddress">
            <div fxLayout="row" class="d-flex group-section">
              <div class="p-2 flex-fill">
                <!-- <mat-radio-group aria-label="Select an option" formControlName="userGender"
                  [ngModelOptions]="{ standalone: true }" [(ngModel)]="chosenUserGender">
                  <mat-radio-button class="spacer" *ngFor="let op of genders" [value]="op.value" name="opList">
                    {{ op.viewValue }}</mat-radio-button>
                </mat-radio-group> -->
                <mat-form-field class="spacer">
                  <mat-select
                    required
                    formControlName="userGender"
                    id="userGender"
                    placeholder="Select Gender"
                  >
                    <mat-option
                      *ngFor="let data of genders; let i = index"
                      [value]="genders[i].value"
                    >
                      {{ genders[i].viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="p-2 flex-fill">
                <mat-form-field class="spacer">
                  <input
                    matInput
                    placeholder="Home Address1"
                    formControlName="address1"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="p-2 flex-fill">
                <mat-form-field class="spacer">
                  <input
                    matInput
                    placeholder="City"
                    formControlName="city"
                    required
                  />
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" class="d-flex">
              <div class="p-2 flex-fill">
                <mat-form-field class="spacer">
                  <mat-select
                    required
                    formControlName="state"
                    id="states"
                    placeholder="Select State"
                  >
                    <mat-option
                      *ngFor="let state of states; let i = index"
                      [value]="states[i].id"
                    >
                      {{ states[i].name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="p-2 flex-fill">
                <mat-form-field class="spacer">
                  <input
                    matInput
                    placeholder="Zipcode"
                    type="text"
                    formControlName="zipcode"
                    required
                    numbersOnly
                    maxlength="8"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center d-buttons">
            <div class="nextButton">
              <button mat-button matStepperNext>
                Next <i class="material-icons">arrow_forward</i>
              </button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step
        *ngIf="chosenMaritalStatus === 'married'"
        [stepControl]="secondFormGroup"
      >
        <form [formGroup]="secondFormGroup">
          <div class="second-section">
            <!-- <ng-template matStepLabel>Fill out your Spouse Details</ng-template> -->
            <div fxLayout="row" class="d-flex">
              <div class="p-2 flex-fill">
                <mat-form-field class="spacer">
                  <input
                    matInput
                    placeholder="Spouse First Name"
                    formControlName="spouseFirstName"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="p-2 flex-fill">
                <mat-form-field class="spacer">
                  <input
                    matInput
                    placeholder="Spouse Last Name "
                    formControlName="spouseLastName"
                    required
                  />
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" class="d-flex">
              <div class="p-2 flex-fill">
                <mat-form-field class="spacer">
                  <input
                    matInput
                    placeholder="Email"
                    formControlName="spouseEmail"
                    type="email"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="p-2 flex-fill">
                <mat-form-field class="spacer">
                  <input
                    matInput
                    type="text"
                    placeholder="Phone"
                    appPhoneMask
                    formControlName="spouseMobile"
                    id="phone-number"
                    required
                  />
                </mat-form-field>
                <mat-error *ngIf="firstFormGroup.get('phone')?.invalid"
                  >First digit should be 1 if the phone number is 11
                  digits</mat-error
                >
              </div>
            </div>
            <div
              fxLayout="row wrap"
              fxLayoutAlign="flex-start"
              class="spouse-personal"
            >
              <div class="p-2 flex-fill col-4">
                <mat-form-field class="spacer">
                  <input
                    matInput
                    [matDatepicker]="spouseDoBPicker"
                    placeholder="Birth Date"
                    formControlName="spouseDOB"
                    required
                    (click)="spouseDoBPicker.open()"
                    (keydown)="(false)"
                    (focus)="spouseDoBPicker.open()"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="spouseDoBPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #spouseDoBPicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="p-2 flex-fill col-4">
                <mat-form-field>
                  <mat-select
                    placeholder="occupation"
                    [(ngModel)]="occupation"
                    formControlName="occupation"
                  >
                    <mat-option
                      *ngFor="let occupation of occupations"
                      [value]="occupation.value"
                    >
                      {{ occupation.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="p-2 flex-fill col-4">
                <mat-form-field>
                  <mat-select
                    placeholder="Child"
                    [(ngModel)]="selectedChild"
                    formControlName="numberOfChildren"
                    (ngModelChange)="onChildSelection()"
                  >
                    <mat-option
                      *ngFor="let child of childs"
                      [value]="child.value"
                    >
                      {{ child.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <ng-container #viewContainer></ng-container>
            <div
              fxLayout="row wrap"
              *ngFor="
                let child of secondFormGroup.get('childrenList')['controls'];
                let i = index
              "
              class="d-flex"
              formArrayName="childrenList"
            >
              <div [formGroupName]="i" class="d-flex">
                <div class="p-2 flex-fill col-4">
                  <mat-form-field class="spacer">
                    <input
                      matInput
                      placeholder="Child Name"
                      formControlName="name"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="p-2 flex-fill col-4">
                  <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <select formControlName="gender" matNativeControl required>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="p-2 flex-fill col-4">
                  <mat-form-field class="spacer">
                    <input
                      matInput
                      placeholder="Grade"
                      formControlName="grade"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center d-buttons">
            <button mat-button matStepperPrevious>
              <i class="material-icons">arrow_back</i> Back
            </button>
            <button mat-button matStepperNext class="submit-btn">
              Next <i class="material-icons">arrow_forward</i>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <div class="second-section">
            <!-- <ng-template matStepLabel>reference Details</ng-template> -->
            <div formGroupName="refererdetails">
              <div fxLayout="row" class="d-flex">
                <div class="p-2 flex-fill">
                  <mat-form-field class="spacer">
                    <input
                      matInput
                      placeholder="Reference First Name"
                      formControlName="referalFirstName"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="p-2 flex-fill">
                  <mat-form-field class="spacer">
                    <input
                      matInput
                      placeholder="Reference Last Name "
                      formControlName="referalLastName"
                      required
                    />
                  </mat-form-field>
                </div>
                <!-- <div class="p-2 flex-fill">
                  <mat-form-field class="spacer">
                    <input matInput placeholder="Referal Id " formControlName="referalId" required maxlength="8"
                      minlength="8" />
                  </mat-form-field>
                  <mat-error *ngIf="firstFormGroup.get('referalId')?.invalid">Alpha numeric with Min 8 chars</mat-error>
                </div> -->
              </div>
            </div>
            <div fxLayout="row" class="d-flex">
              <div class="p-2 flex-fill">
                <!-- <span class="label">Do you own business ?</span>
                <mat-radio-group aria-label="Select an option" [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="ownBusiness" class="business-section">
                  <mat-radio-button class="spacer" value="Y">Yes</mat-radio-button>
                  <mat-radio-button class="spacer" value="N">No</mat-radio-button>
                </mat-radio-group> -->
                <mat-form-field class="spacer">
                  <mat-select
                    required
                    [(ngModel)]="ownBusiness"
                    [ngModelOptions]="{ standalone: true }"
					placeholder="Do you own business ?"
					(ngModelChange)="businessChecked($event)"
					
                  >
                    <mat-option
                      *ngFor="let data of businessInfo; let i = index"
                      [value]="businessInfo[i].value"
                    >
                      {{ businessInfo[i].viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="p-2 flex-fill">
                <mat-form-field class="spacer">
                  <input
                    matInput
                    type="text"
                    placeholder="Contact Phone"
                    formControlName="referalMobile"
                    appPhoneMask
                    id="phone-number"
                    required
                  />
                </mat-form-field>
                <mat-error *ngIf="firstFormGroup.get('phone')?.invalid"
                  >First digit should be 1 if the phone number is 11
                  digits</mat-error
                >
              </div>
            </div>
            <div fxLayout="row" class="d-flex">
              <div class="p-2 flex-fill">
                <mat-list-item class="primary-imenu-item" role="listitem">
                  <mat-form-field class="select-form">
                    <mat-select
                      placeholder="Area of interests"
                      formControlName="interestSelected"
                      class="filter-select"
                      multiple
                    >
                      <mat-option disabled="disabled" class="filter-option">
                        <!--<mat-option (click)="selectAll(yearSelect, years)" #checkAll> Select All-->
                      </mat-option>
                      <mat-option
                        *ngFor="let interest of interests"
                        [value]="interest.viewValue"
                      >
                        {{ interest.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-list-item>
                <!-- <div class="label">Your Areas of Interest</div>
                <mat-form-field>
                  <select matNativeControl placeholder="Select" formControlName="intrests">
                    <option value="Cultural">Cultural</option>
                    <option value="Sports">Sports</option>
                    <option value="Business">Business</option>
                    <option value="Political">Political</option>
                    <option value="Political">Service</option>
                  </select>
                 
                </mat-form-field> -->
              </div>
            </div>
            <div fxLayout="row" class="d-flex">
              <div
                fxLayout="column"
                formGroupName="business"
                fxLayoutAlign="start start"
                class="d-flex col-6"
              >
                <div *ngIf="ownBusiness === 'Y'" class="col-12 dynamic-colms">
                  <div class="p-2 flex-fill">
                    <mat-form-field class="spacer">
                      <input
                        matInput
                        placeholder="Business Name"
                        formControlName="businessName"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="p-2 flex-fill">
                    <mat-form-field class="spacer">
                      <input
                        matInput
                        placeholder="Website Url"
                        formControlName="websiteUrl"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="p-2 flex-fill">
                    <mat-form-field>
                      <mat-label class="label">Business Details</mat-label>
                      <textarea
                        matInput
                        formControlName="businessDetails"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div fxLayout="column" class="d-flex col-6 user-fields">
                <div
                  class="p-2 flex-fill"
                  class="example-tooltip-host"
                  matTooltip="Minimum length of the password is 8, should contain uppercase and lower case letters, shoul contain letters and numbers, should contain special charactes"
                  [matTooltipPosition]="position"
                >
                  <mat-form-field class="spacer">
                    <input
                      matInput
                      placeholder="Password"
                      formControlName="password"
                      type="password"
                      required
                    />
                  </mat-form-field>
                  <mat-error *ngIf="firstFormGroup.get('password')?.invalid"
                    >Min 8 chars with atleast 1 letter, number and special
                    char</mat-error
                  >
                </div>
                <div class="p-2 flex-fill">
                  <mat-form-field class="spacer">
                    <input
                      matInput
                      placeholder="Confirm Password"
                      formControlName="cpassword"
                      type="password"
                      required
                    />
                  </mat-form-field>
                  <mat-error *ngIf="firstFormGroup.get('cpassword')?.invalid"
                    >Min 8 chars with atleast 1 letter, number and special
                    char</mat-error
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center d-buttons">
            <button mat-button matStepperPrevious>
              <i class="material-icons">arrow_back</i> Back
            </button>
            <button mat-button class="submit-btn" (click)="register()">
              Submit <i class="material-icons">check</i>
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
    <div class="success-text" *ngIf="submitSuccess">
      <!-- <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
      <h3>{{regMessage}}</h3>
      <button (click)="login()" class="register-back" *ngIf="showLoginButton">
        Login
      </button>
      <button (click)="back()" class="register-back" *ngIf="!showLoginButton">
        Back
      </button>
    </div>
  </div>
</div>
