<div class="container-for-admin">
    <header>
        <app-header></app-header>
        <app-sidebar></app-sidebar>
    </header>
    <main class="about-container">
        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-md-6">
                <div class="left-section header">
                    <span>Who We Are</span>
                    <h2 class="big-text">A <strong>Professional</strong> <br>
                        &amp; Hard Working Team</h2>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="right-section content">
                            <p>With the objective of ascertaining the right to independence, self-reliance and non-alignment for the Telugus, UPASA (United Pravaasa Aatmeeyula Society of America) was founded in the beginning of 2017. </p>
    
                            <p>We are a group of like-minded people founded this nonprofit organization to hurriedly find solutions for the most urgent needs of poor and needy Telugu people. We work hard for the eradication of poverty, illiteracy and unemployment. </p>
    
                            <br>
                            <p>Headquartered in Texas USA, we have many rural and urban development centers to provide medical, financial and educational assistance to the Telugu speaking people suffering from poverty, illiteracy and unemployment. Moreover, we offer ethical support to alleviate the sufferings of Telugu communities for the betterment of their life.
                            </p>
                        </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="img-section">
                       <img src="src/img/upasagalleryabout.jpg" alt="">
                    </div>
                </div>
            </div>
    </div>

    <div class="section2">
        <div class="row">
            <div class="col-md-4 wow fadeInLeft animated" style="visibility: visible;">
                <div class="left-section section">
                    <h2><i class="fa fa-users" aria-hidden="true"></i><span class="sr-only">icon</span></h2>
                    <h4>Unity</h4>
                    <hr>
                    <p>We believe “unity is strength”. Inspired by this belief, we unite all the members of UPASA to uphold the individual dignity and mutual respect. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="middle-section section wow fadeInUp animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s;">
                    <h2><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="sr-only">icon</span></h2>
                    <h4>Transparency</h4>
                    <hr>
                    <p>We ensure transparency by holding all the members of the Executive committee and Board of Directors.</p>
                </div>
            </div>
            <div class="col-md-4 wow fadeInRight animated" style="visibility: visible;">
                <div class="right-section section">
                    <h2><i class="fa fa-list-ol " aria-hidden="true"></i><span class="sr-only">icon</span></h2>
                    <h4>Accountability</h4>
                    <hr>
                    <p>We ensure accountability by holding all the members of the Executive committee and Board of Directors.</p>
                </div>
            </div>
        </div>
    </div>

        <div class="section3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 wow left-section animated" id="of" style="visibility: visible; animation-name: slideInLeft;">
                        <div class="top-section vertical-heading">
                            <span>Who We Are</span>
                            <h2>
                                Meet Our<br>
                                <strong>Directors </strong> Team
                            </h2>
                        </div>
                        <p>Our board of Directors team as Execuitve members and key role players.</p>
                    </div>
                    <div class="col-sm-6 wow right-section">
                        <div id="image-slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 2224px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-278px, 0px, 0px);">
                                    <div class="owl-item" style="width: 278px;">
                                        <div class="item">
                                            <div class="hovereffect">
                                                <img src="/img/team1.jpg" alt="Owl Image">
                                                <div class="overlay">
                                                    <div class="info">
                                                        <h6>Chair Person</h6>
                                                        <p>Chair Person UPASA</p>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                                                        <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                                                        <li><a href="#."><i class="fa fa-fw fa fa-instagram"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
    
    
                            </div></div><div class="owl-item" style="width: 278px;"><div class="item">
                                <div class="hovereffect">
                                    <img src="img/team3.jpg" alt="Owl Image">
                                    <div class="overlay">
                                        <div class="info">
                                            <h6>Manager</h6>
                                            <p>Operational Manager</p>
                                        </div>
                                        <ul class="list-inline">
                                            <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                                            <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                                            <li><a href="#."><i class="fa fa-fw fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div></div><div class="owl-item" style="width: 278px;"><div class="item">
                                <div class="hovereffect">
                                    <img src="img/team4.png" alt="Owl Image">
                                    <div class="overlay">
                                        <div class="info">
                                            <h6>Mathew Conor</h6>
                                            <p>Accountant</p>
                                        </div>
                                        <ul class="list-inline">
                                            <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                                            <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                                            <li><a href="#."><i class="fa fa-fw fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
    
    
                            </div></div><div class="owl-item" style="width: 278px;"><div class="item">
                                <div class="hovereffect">
                                    <img src="img/team2.jpg" alt="Owl Image">
                                    <div class="overlay">
                                        <div class="info">
                                            <h6>Mathew Conor</h6>
                                            <p>secretary</p>
                                        </div>
                                        <ul class="list-inline">
                                            <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                                            <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                                            <li><a href="#."><i class="fa fa-fw fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
    
                            </div></div></div></div>
                            
    
                            
                            
                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div></div></div></div>
                    </div>
                </div>
                <div class="bottom-section" style="display: none">
                    <div class="row  wow fadeInUp" style="visibility: hidden; animation-name: none;">
                        <div class="col-sm-6">
                            <div class="first">
                                <p>Development</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        <span>90%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="second">
                                <p>Adobe Photoshop</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                        <span>96%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="3rd">
                                <p>Marketing</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="fourth">
                                <p>Html/WordPress</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%;">
                                        <span>84%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section4">
                <div id="about-us-4" class="big-padding text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 wow fadeIn animated" style="visibility: visible;">
                                    <div class="section">
                                        <h3><i class="fa fa-quote-left" aria-hidden="true"></i>
                                            To identify, address and fulfill social, financial and educational needs of North American Telugu Community in particular and Telugu people in general. <i class="fa fa-quote-right" aria-hidden="true"></i>
                                        </h3>
                                        <p>- Alice Johnson -</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </main>
    
    </div>
    