<div class="container-for-admin">
    <header>
        <app-header></app-header>
        <app-sidebar></app-sidebar>
    </header>
    <main class="main-container">
        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-md-6">
                <div class="left-section header">
                    <span>Who We Are</span>
                    <h2 class="big-text">A <strong>Professional</strong> <br>
                        &amp; Hard Working Team</h2>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="right-section content">
                            <p>With the objective of ascertaining the right to independence, self-reliance and non-alignment for the Telugus, UPASA (United Pravaasa Aatmeeyula Society of America) was founded in the beginning of 2017. </p>
    
                            <p>We are a group of like-minded people founded this nonprofit organization to hurriedly find solutions for the most urgent needs of poor and needy Telugu people. We work hard for the eradication of poverty, illiteracy and unemployment. </p>
    
                            <br>
                            <p>Headquartered in Texas USA, we have many rural and urban development centers to provide medical, financial and educational assistance to the Telugu speaking people suffering from poverty, illiteracy and unemployment. Moreover, we offer ethical support to alleviate the sufferings of Telugu communities for the betterment of their life.
                            </p>
                        </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="img-section">
                       <img src="img/upasagalleryabout.jpg" alt="">
                    </div>
                </div>
            </div>
    </div>
    </main>
    
    </div>
    