<app-nav></app-nav>
<section id="about-us" class="about-section">
  <!-- about-us-1 start -->
  <div id="about-us-1" class="big-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 wow slideInLeft about-heading">
          <div class="outer-bound">
            <div class="left-section vertical-heading">
              <!-- <span>About us</span> -->
              <h2 class="big-text">A <strong>Professional</strong> <br>
                &amp; Hard Working Team</h2>
              <!-- <h2 class="big-text mt-5">
                <a style="color: #000;" href="https://ils.unc.edu/daniel/405/Montana11.pdf" target="_blank">ByLaws</a>
              </h2> -->
            </div>
          </div>
        </div>
        <div class="col-sm-9 wow slideInRight about-desc">
          <div class="right-section d-none d-sm-block">
            <h4>About Us</h4>
            <hr>
            <div>With the objective of ascertaining the right to independence, self-reliance and non-alignment
              for the Telugus, UPASA (United Pravaasa Aatmeeyula Society of America) was founded in the
              beginning of 2017. </div>
            <br />
            <div>We are a group of like-minded people founded this nonprofit organization to hurriedly find
              solutions for the most urgent needs of poor and needy Telugu people. We work hard for the
              eradication of poverty, illiteracy and unemployment. </div>
            <br />
            <div>Headquartered in Texas USA, we have many rural and urban development centers to provide
              medical, financial and educational assistance to the Telugu speaking people suffering from
              poverty, illiteracy and unemployment. Moreover, we offer ethical support to alleviate the
              sufferings of Telugu communities for the betterment of their life.
            </div>
          </div>
          <div class="right-section d-block d-sm-none">
            <h4>About Us</h4>
            <hr>
            <div>With the objective of ascertaining the right to independence, self-reliance and non-alignment
              for the Telugus, UPASA (United Pravaasa Aatmeeyula Society of America) was founded in the
              beginning of 2017. </div><span id="textArea1">
            <br />
            <div>We are a group of like-minded people founded this nonprofit organization to hurriedly find
              solutions for the most urgent needs of poor and needy Telugu people. We work hard for the
              eradication of poverty, illiteracy and unemployment. </div>
            <br />
            <div>Headquartered in Texas USA, we have many rural and urban development centers to provide
              medical, financial and educational assistance to the Telugu speaking people suffering from
              poverty, illiteracy and unemployment. Moreover, we offer ethical support to alleviate the
              sufferings of Telugu communities for the betterment of their life.
            </div> </span> <a id="toggleButton1" (click)="toggleAboutText()" >See More</a>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12 wow fadeInUp" data-wow-duration="2s">
          <div class="bottom-section">
            <!-- <img src="images/about-us1-bg.jpg" alt="about-us-bg" class="img-responsive"> -->
            <img src="images/upasagallery.jpg" alt="about-us-bg" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about-us-1 end-->

  <!-- about-us-2 start-->
  <div id="about-us-2" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 wow fadeInLeft">
          <div class="left-section section upasaCard">
            <h2><i class="fa fa-users" aria-hidden="true"></i><span class="sr-only">icon</span></h2>
            <h4>Unity</h4>
            <hr>
            <p>We believe “unity is strength”. Inspired by this belief, we unite all the members of UPASA to
              uphold the individual dignity and mutual respect. </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="middle-section section wow fadeInUp upasaCard" data-wow-duration="2s">
            <h2><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="sr-only">icon</span></h2>
            <h4>Transparency</h4>
            <hr>
            <p>We ensure transparency by holding all the members of the Executive committee and Board of
              Directors.</p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInRight">
          <div class="right-section section upasaCard">
            <h2><i class="fa fa-list-ol " aria-hidden="true"></i><span class="sr-only">icon</span></h2>
            <h4>Accountability</h4>
            <hr>
            <p>We ensure accountability by holding all the members of the Executive committee and Board of
              Directors.</p>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 wow fadeInLeft">
          <div class="left-section section">
            <h2><i class="fa fa-users" aria-hidden="true"></i><span class="sr-only">icon</span></h2>
            <h4>Leadership</h4>
            <hr>
            <p class="d-none d-sm-block">
              We would like to make UPASA a pioneer and a role model through innovations and diffusion of
              innovations in the entrepreneurial promotion and community service in North America and
              other parts of the World to accelerate the process of development by making Telugu people
              aware of the needs and opportunities to meet these exactly. We will facilitate the decision
              process and help put the practices smoothly and swiftly into effect. Our supports and
              services are not limited to the Indian states of Andhra Pradesh and Telangana (home to
              Telugu people), we pursue useful and essential projects in the areas of Literacy, Education,
              Sanitation, Health promotion, and Rehabilitation.
            </p>
            <p class="d-block d-sm-none">
              We would like to make UPASA a pioneer and a role model through innovations and diffusion of
              innovations in the entrepreneurial promotion and community service in North America and
              other parts of the World to accelerate the process of <span id="textArea">
                development by making Telugu people
                aware of the needs and opportunities to meet these exactly. We will facilitate the decision
                process and help put the practices smoothly and swiftly into effect. Our supports and
                services are not limited to the Indian states of Andhra Pradesh and Telangana (home to
                Telugu people), we pursue useful and essential projects in the areas of Literacy, Education,
                Sanitation, Health promotion, and Rehabilitation.
              </span> <a id="toggleButton" (click)="toggleText()" >See More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about-us-2 end-->

  <!-- about-us-3 start -->
  <!-- <div id="about-us-3" class="mid-level-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 wow slideInLeft" id="of">
          <div class="top-section vertical-heading">
            <span>Leadership Team</span>
            <h2>
              Meet Our<br>
              <strong>Leadership </strong> Team
            </h2>
          </div>
          <p>Our Leadership team as Execuitve members and key role players.</p>
        </div>
        <div class="col-sm-6">
          <div id="image-slider">
            <div class="item">

              <div class="hovereffect">
                <img src="images/team4.png" alt="Owl Image">
                <div class="overlay">
                  <div class="info">
                    <h6>Chair Person</h6>
                    <p>Chair Person UPASA</p>
                  </div>
                  <ul class="list-inline">
                    <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                    <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                    <li><a href="#."><i class="fa fa-fw fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>


            </div>
            <div class="item">
              <div class="hovereffect">
                <img src="images/team3.jpg" alt="Owl Image">
                <div class="overlay">
                  <div class="info">
                    <h6>Manager</h6>
                    <p>Operational Manager</p>
                  </div>
                  <ul class="list-inline">
                    <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                    <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                    <li><a href="#."><i class="fa fa-fw fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="hovereffect">
                <img src="images/team4.png" alt="Owl Image">
                <div class="overlay">
                  <div class="info">
                    <h6>Mathew Conor</h6>
                    <p>Accountant</p>
                  </div>
                  <ul class="list-inline">
                    <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                    <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                    <li><a href="#."><i class="fa fa-fw fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>


            </div>
            <div class="item">
              <div class="hovereffect">
                <img src="images/team2.jpg" alt="Owl Image">
                <div class="overlay">
                  <div class="info">
                    <h6>Mathew Conor</h6>
                    <p>secretary</p>
                  </div>
                  <ul class="list-inline">
                    <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                    <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                    <li><a href="#."><i class="fa fa-fw fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="bottom-section" style="display: none">
        <div class="row  wow fadeInUp">
          <div class="col-sm-6">
            <div class="first">
              <p>Development</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                  <span>90%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="second">
              <p>Adobe Photoshop</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100">
                  <span>96%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="3rd">
              <p>Marketing</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  <span>70%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="fourth">
              <p>Html/WordPress</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100">
                  <span>84%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- about-us-3 end -->

  <!-- about-us-4 start-->
  <div id="about-us-4" class="big-padding text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 wow fadeIn">
          <div class="section">
            <p style="font-size: 18px;">Our Mission</p>
            <h3><i class="fa fa-quote-left" aria-hidden="true"></i>
              To identify, address and fulfill social, financial and educational needs of North American
              Telugu Community in particular and Telugu people in general. We raise charitable funds to
              support the needs of Telugu communities and families. <i class="fa fa-quote-right" aria-hidden="true"></i>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about-us-4 end-->

</section>
<div class="sponsors-section">
  <app-sponsors></app-sponsors>
</div>
<app-footer></app-footer>
