.about-section {
  padding-top: 5rem;
  width: 80%;
}

.sponsors-section {
  width: 20%;
  float: right;
  position: relative;
  right: -36px;
}

.about-desc h4 {
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.about-desc {
  border: 1px solid white;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: black;
    line-height: 24px;
}

.about-heading {
  border: 1px solid white;
  background: white;
}

.about-desc hr {
  width: 45px;
  height: 3px;
  background: #f1c30f;
  margin: 0 auto 20px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border: none;
}

.about-desc:hover {
  background: #f1c30f;
  color: #fff !important;
  hr {
    background: #fff;
  }
  h4 {
    color: #fff;
  }
}

navbar .side-menu-button {
  position: absolute !important;
  top: 35px !important;
  right: 50px !important;
}

.upasaCard {
  min-height: 360px;
}

#toggleButton, #toggleButton1 {
  cursor: pointer;
  color: #007bff !important;
  text-decoration: underline !important;
}

#textArea, #textArea1 {
  display: none;
}

@media (min-width: 1200px) {

  .navbar,
  .page-footer {
    padding-left: 0px !important;
  }
  #about-us #about-us-1 .outer-bound .left-section {
    top: 75%;
  }
}

@media (max-width: 767px) {
  .navbar-header {
    position: absolute;
    top: 10px;
  }

  .nav {
    display: block;
  }

  .about-section {
    width: 100%;
  }

  .sponsors-section {
    display: none;
  }

  .about-heading {
    border: none;
    background: transparent;
  }

  .about-desc {
    margin-right: 15px;
    margin-left: 15px;
  }
}

::ng-deep .navbar .nav li a {
  color: black !important;
}
