<app-nav></app-nav>
<section id="portfolio" class="events-section">

    <!--portfolio1 start -->
    <div id="portfolio1" class="mid-level-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="vertical-heading">
                        <span>find out work</span>
                        <h2>
                            Our<br>
                            Amazing <strong>Collection</strong>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="list ">
                <button class="btn  filter-button active" data-filter="all"><span>All</span></button>
                <button class="btn  filter-button" data-filter="logo"><span>Festivals</span></button>
                <button class="btn  filter-button" data-filter="web"><span>Musical Nights</span></button>
                <button class="btn  filter-button" data-filter="webdesign"><span>Student Services</span></button>
            </div>
            <br/>

            <div class="block-container">
                <div class="row">
                    <div class="col-sm-6 filter web">
                        <a class="each-item fancybox" href="images/web1.jpg" data-fancybox-group="gallery"
                           title="Web One">
                            <img class="port-image"
                                 src="images/web1.jpg" alt="portfolio"/>
                            <div class="cap1">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="cap2">
                                <div class="text">
                                    <h4>Musical Nights</h4>
                                    <p>3 Annyversary</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 filter web">
                        <a class="each-item fancybox" href="images/web1.jpg" data-fancybox-group="gallery"
                           title="Web Two">
                            <img class="port-image"
                                 src="images/web2.jpg" alt="portfolio"/>
                            <div class="cap1">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="cap2">
                                <div class="text">
                                    <h4>Musical Nights</h4>
                                    <p>3 Annyversary</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 filter logo">
                        <a class="each-item fancybox" href="images/logodesign1.jpg" data-fancybox-group="gallery"
                           title="Web One">
                            <img class="port-image"
                                 src="images/logodesign1.jpg" alt="portfolio"/>
                            <div class="cap1">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="cap2">
                                <div class="text">
                                    <h4>Festival</h4>
                                    <p>Diwali</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 filter logo">
                        <a class="each-item fancybox" href="images/logodesign2.jpg" data-fancybox-group="gallery"
                           title="Logo Design 2">
                            <img class="port-image"
                                 src="images/logodesign2.jpg" alt="portfolio"/>
                            <div class="cap1">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="cap2">
                                <div class="text">
                                    <h4>Festival</h4>
                                    <p>Sankranthi</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12" id="stats">
                                <div class="load-more">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p>We’ve Completed More Then</p>
                                            <h1>530</h1>
                                            <p>momories with Our amazing Members</p>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="btn-div">
                                                <button class="btn button pull-right" id="load">Load More</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--portfolio1 end -->


    <!-- portfolio-2 start -->
    <div id="portfolio2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 wow slideInLeft">
                    <div class="vertical-heading low-level-padding ">
                        <span>Who We Are</span>
                        <h2>
                            Don’t Take<br>
                            <strong>Our Word</strong> for It
                        </h2>
                    </div>
                </div>
                <div class="col-sm-8 wow fadeIn" data-wow-duration="2s">
                    <div id="client-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3>Best Community </h3>
                                </div>
                                <div class="col-xs-6">
                                    <h3 class="text-right small">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span class="sr-only">icon</span>
                                    </h3>
                                </div>
                            </div>
                            <p class="long">Lorem ipsum is simply dummy text of the printing and typesetting. Lorem
                                Ipsum has been the
                                industry’s standard dummy. Lorem ipsum is simply dummy text of the printing and
                                typesetting.
                                Lorem Ipsum has been the industry’s standard dummy.</p>
                            <div class="client">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3">
                                        <img src="images/client1.png" alt="client">
                                    </div>
                                    <div class="col-md-10 col-sm-3">
                                        <div class="client-name">
                                            <p>Joq Martin</p>
                                            <p>Senior Member</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3>Friendly Community </h3>
                                </div>
                                <div class="col-xs-6">
                                    <h3 class="text-right small">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span class="sr-only">icon</span>
                                    </h3>
                                </div>
                            </div>
                            <p class="long">Lorem ipsum is simply dummy text of the printing and typesetting. Lorem
                                Ipsum has been the
                                industry’s standard dummy. Lorem ipsum is simply dummy text of the printing and
                                typesetting.
                                Lorem Ipsum has been the industry’s standard dummy.</p>
                            <div class="client">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3">
                                        <img src="images/client1.png" alt="client">
                                    </div>
                                    <div class="col-md-10 col-sm-3">
                                        <div class="client-name">
                                            <p>Joq Martin</p>
                                            <p>Ex-Director</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio-2 end -->

 

    <!--portfolio3 end -->

</section>