<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!--second nav button -->
        <a class="side-menu-button"> <i class="fa fa-bars" aria-hidden="true"></i> </a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img class="image-fluid" src="images/upasa_web_logo.jpg" style="width: 230px;" alt="logo"></a>
        </div>

        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/" routerLinkActive="active" class="scroll">Home</a></li>
                    <li><a routerLink="/about" routerLinkActive="active" class="scroll">About</a></li>
                    <li><a routerLink="/services" routerLinkActive="active" class="scroll">Services</a></li>
                    <li><a routerLink="/events" routerLinkActive="active" class="scroll">Events</a></li>
                    <li><a routerLink="/social" routerLinkActive="active" class="scroll">Social</a></li>
                    <li><a routerLink="/blogs" routerLinkActive="active" class="scroll">Blogs</a></li>
                    <li><a routerLink="/login" routerLinkActive="active" class="scroll">Login</a></li>
                    <li><a routerLink="/register" routerLinkActive="active" class="scroll">Register</a></li>
                    <!-- <li><a (click)="navigate('#/services')" class="scroll">Services</a></li>
                    <li><a (click)="navigate('#/events')" class="scroll">Our Events</a></li>
                    <li><a (click)="navigate('#/social')" class="scroll">Social Media</a></li>
                    <li><a (click)="navigate('#/login')" class="scroll">Login</a></li>
                    <li><a (click)="navigate('#/register')" class="scroll">Register</a></li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
        <div class="sidenav">
            <!-- Use any element to open the sidenav -->
            <ul class="nav">
                <li><a routerLink="/" routerLinkActive="active" class="scroll">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active" class="scroll">About</a></li>
                <li><a routerLink="/services" routerLinkActive="active" class="scroll">Services</a></li>
                <li><a routerLink="/events" routerLinkActive="active" class="scroll">Events</a></li>
                <li><a routerLink="/social" routerLinkActive="active" class="scroll">Social</a></li>
                <li><a routerLink="/blogs" routerLinkActive="active" class="scroll">Blogs</a></li>
                <li><a routerLink="/login" routerLinkActive="active" class="scroll">Login</a></li>
                <li><a routerLink="/register" routerLinkActive="active" class="scroll">Register</a></li>
                <!-- <li><a (click)="navigate('#/about')" class="scroll">About</a></li>
                <li><a (click)="navigate('#/services')" class="scroll">Services</a></li>
                <li><a (click)="navigate('#/events')" class="scroll">Our Events</a></li>
                <li><a (click)="navigate('#/social')" class="scroll">Social Media</a></li>
                <li><a (click)="navigate('#/login')" class="scroll">Login</a></li>
                <li><a (click)="navigate('#/register')" class="scroll">Register</a></li> -->
            </ul>
        </div>

    </div>
</nav>