<app-nav></app-nav>
<div class="registration-container login-container">
  <div class="image-holder">
    <img src="images/upasa_web.png" alt="" class="logo-image" />
  </div>
  <div class="stepper-container">
    <div id="registerationTitleContainer" class="form-header pt-5">
      <h3 class="registration-heading">Reset Password</h3>
    </div>
    <form [formGroup]="resetFormGroup" *ngIf='!resetSuccess'>
      <div fxLayout="row" class="d-flex">
        <div class="flex-fill">
          <mat-form-field class="spacer">
            <input matInput placeholder="Password" formControlName="password" type="password" required />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" class="d-flex">
        <div class="flex-fill">
          <mat-form-field class="spacer">
            <input matInput placeholder="Confirm Password" formControlName="confirmpassword" type="password" required />
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="emailSent">
          <p class="email-notification">"Password reset link sent to your email, if you still dont receive any please contact support team."</p>
      </div>
      <div class="d-flex justify-content-center d-buttons">
        <button mat-button class="submit-btn" (click)="reset()" [disabled]="!resetFormGroup.value">
          Reset Password
        </button>
      </div>
    </form>
    <div *ngIf='resetSuccess'>
        <p class="email-notification">"Password reset Success. Please Login witn your new Password."</p>
    </div>
  </div>
</div>
