<div class="sidebar-fixed position-fixed">
  <a class="logo-wrapper waves-effect">
    <h3
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Scripters
    </h3>
  </a>

  <div class="list-group list-group-flush">
    <a
      routerLink="/profile"
      routerLinkActive="active"
      class="list-group-item list-group-item-action waves-effect"
    >
      <i class="fa fa-user mr-3"></i>Profile</a
    >
    <a
      routerLink="/register"
      routerLinkActive="active"
      class="list-group-item list-group-item-action waves-effect"
    >
      <i class="fa fa-user-plus mr-3"></i>Registration</a
    >
    <a href="#" class="list-group-item list-group-item-action waves-effect">
      <i class="fa fa-handshake mr-3"></i>Manage Invites</a
    >
    <a href="#" class="list-group-item list-group-item-action waves-effect">
      <i class="fa fa-bell mr-3"></i>Notifications</a
    >
    <a href="#" class="list-group-item list-group-item-action waves-effect">
      <i class="fa fa-cubes mr-3"></i>Programs</a
    >
    <a href="#" class="list-group-item list-group-item-action waves-effect">
      <i class="fa fa-bullhorn mr-3"></i>Complaints</a
    >
  </div>
</div>
