<app-nav></app-nav>
<div class="registration-container login-container">
  <div class="image-holder">
    <img src="images/upasa_web.png" alt="" class="logo-image" />
  </div>
  <div class="stepper-container">
    <div id="registerationTitleContainer" class="form-header pt-5">
      <h3 class="registration-heading">Forgot Password</h3>
    </div>
    <form [formGroup]="emailFormGroup">
      <div fxLayout="row" class="d-flex">
        <div class="flex-fill">
          <mat-form-field class="spacer">
            <input matInput placeholder="Email" formControlName="useremail" type="email" required />
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="emailSent">
          <p class="email-notification">"Password reset link sent to your email, if you still dont receive any please contact support team."</p>
      </div>
      <div class="d-flex justify-content-center d-buttons">
        <button mat-button (click)="sendBack()">
          <i class="material-icons">arrow_back</i> Back
        </button>
        <button mat-button class="submit-btn" (click)="sendMail()" [disabled]="!emailFormGroup.value">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
