<app-nav></app-nav>
<section id="services" class="service-section">
    <!--  service-1 start -->
    <div id="service-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center wow slideInDown">
                    <div class="section-top-heading">
                        <h5>What We Do</h5>
                        <h2>Our Services</h2>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-7 wow slideInLeft">
                    <div class="outer-bound">
                        <div class="left-section">
                            <img src="images/logodesign1.jpg" class="img-responsive" alt="laptop">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="right-section wow slideInRight">
                        <div class="feature">
                            <div class="row">

                                <div class="col-sm-2">
                                    <h2 class="icon">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span class="sr-only">icon</span>
                                    </h2>

                                </div>
                                <div class="col-sm-10">

                                    <h5>Service 01</h5>
                                    <h4>Short description of our service</h4>
                                    <p>Deatailed description of services and moto of the community</p>

                                </div>
                            </div>
                        </div>
                        <div class="feature middle">
                            <div class="row">

                                <div class="col-sm-2 ">
                                    <h2 class="icon">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span class="sr-only">icon</span>
                                    </h2>

                                </div>
                                <div class="col-sm-10">

                                     <h5>Service 02</h5>
                                    <h4>Short description of our service</h4>
                                    <p>Deatailed description of services and moto of the community</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="row">

                                <div class="col-sm-2 ">
                                    <h2 class="icon">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span class="sr-only">icon</span>
                                    </h2>

                                </div>
                                <div class="col-sm-10">

                                     <h5>Service 03</h5>
                                    <h4>Short description of our service</h4>
                                    <p>Deatailed description of services and moto of the community</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  service-1 end -->

    <!--  service-2 start -->
    <div id="service-2" class="mid-level-padding">
        <div id="responsiveTabsDemo">
            <ul class="text-center">
                <li><a href="#tab-1">Festivals</a></li>
                <li><a href="#tab-2">Musical Nights</a></li>
                <li><a href="#tab-3">Social Services</a></li>
                <li><a href="#tab-4">Student Services Group</a></li>
            </ul>

            <div id="tab-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/festivals.jpg" alt="" class="element-center">
                        </div>
                        <div class="col-md-6">
                            <div class="tabs-bg">
                                <h2>01</h2>
                                <h3>Lets celebrate together</h3>
                                <p>This is an incomplete list of festivals in the United States with articles on Wikipedia. This list includes festivals of diverse types, among them regional festivals, commerce festivals, fairs, food festivals, arts festivals, religious festivals, folk festivals, and recurring festivals on holidays. </p>
                                <button class="btn button hvr-shutter-out-horizontal">Get In Touch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/musicalnight.jpg" alt="" class="element-center">
                        </div>
                        <div class="col-md-6">
                            <div class="tabs-bg">
                                <h2>02</h2>
                                <h3>Lets enjoy the music with our best artists.</h3>
                                <p>This is an incomplete list of festivals in the United States with articles on Wikipedia. This list includes festivals of diverse types, among them regional festivals, commerce festivals, fairs, food festivals, arts festivals, religious festivals, folk festivals, and recurring festivals on holidays. </p>
                                <button class="btn button hvr-shutter-out-horizontal">Get In Touch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/socialservice.jpg" alt="" class="element-center">
                        </div>
                        <div class="col-md-6">
                            <div class="tabs-bg">
                                <h2>03</h2>
                                <h3>Join your hands for our social cause</h3>
                                <p>This is an incomplete list of festivals in the United States with articles on Wikipedia. This list includes festivals of diverse types, among them regional festivals, commerce festivals, fairs, food festivals, arts festivals, religious festivals, folk festivals, and recurring festivals on holidays. 
                                </p>
                                <button class="btn button hvr-shutter-out-horizontal">Get In Touch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/Int-students.jpg" alt="" class="element-center">
                        </div>
                        <div class="col-md-6">
                            <div class="tabs-bg">
                                <h2>04</h2>
                                <h3>Support our next generation to get them the best.</h3>
                                <p>This is an incomplete list of festivals in the United States with articles on Wikipedia. This list includes festivals of diverse types, among them regional festivals, commerce festivals, fairs, food festivals, arts festivals, religious festivals, folk festivals, and recurring festivals on holidays. </p>
                                <button class="btn button hvr-shutter-out-horizontal">Get In Touch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--  service-2 end -->

    <!-- service-2 start -->
    <div id="service-3" class="mid-level-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wow slideInLeft">
                    <div class="top-section vertical-heading">
                        <span>fun facts</span>
                        <h2>
                            We Expect<br>
                            <strong>Excellence</strong> Team Support
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-duration="2s">
                <div class="col-sm-12">
                    <div class="bottom-section text-center">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="left-section section">
                                    <h2><i class="fa fa-users" aria-hidden="true"></i><span class="sr-only">icon</span>
                                    </h2>
                                    <h3>125</h3>
                                    <p>Organizers</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="left-section section">
                                    <h2><i class="fa fa-codepen" aria-hidden="true"></i><span
                                            class="sr-only">icon</span></h2>
                                    <h3>9102</h3>
                                    <p>Volunteer</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="section">
                                    <h2><i class="fa fa-trophy" aria-hidden="true"></i><span class="sr-only">icon</span>
                                    </h2>
                                    <h3>06</h3>
                                    <p>Awards Received</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="section">
                                    <h2><i class="fa fa-bar-chart" aria-hidden="true"></i><span
                                            class="sr-only">icon</span></h2>
                                    <h3>06</h3>
                                    <p>Years of service</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- service-2 end -->

</section>
<app-footer></app-footer>