.service-section {
  padding-top: 15rem;
  width: 80%;
}
.sponsors-section {
  width: 20%;
  float: right;
  position: relative;
  right: -36px;
}
.tabs-bg, .element-center {
  height: 100%;
}
.mid-level-padding {
  margin-top: 10px;
}
navbar .side-menu-button {
    position: absolute !important;
    top: 35px !important;
    right: 50px !important;
}
@media (min-width: 1200px) {
  .navbar, .page-footer {
       padding-left: 0px !important; 
  }
}
@media (max-width: 767px) {
  .navbar-header {
       position: absolute;
      top: 10px;
  }
  .nav {
    display: block;
  }
  .service-section {
    width: 100%;
  }
  .sponsors-section {
    display: none;
  }
}
::ng-deep .navbar .nav li a {
  color: black !important;
}