<div class="container-for-admin">
<header>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
</header>
<main class="main-container">
    <div class="container-fluid mt-5">
      <div class="row">
  <div class="col-md-3">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">
      <!--Card image-->
      <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
        <img
          src="https://vignette.wikia.nocookie.net/fan-fiction-library/images/1/15/Admin.png/revision/latest?cb=20140917130743"
          class="img-fluid"
        />
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <mdb-card-body class="text-center">
        <!--Title-->
        <h4 class="card-title font-bold mb-2"><strong>Ramesh Kumar</strong></h4>
        <h5 class="indigo-text"><strong>Software Engineer</strong></h5>

        <h6 class="text-justify mt-5"><strong>About:</strong></h6>
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
          perferendis quod animi dignissimos consectetur quibusdam numquam
          laboriosam, minus, provident...
        </p>

        <div class="text-right">
          <button
            type="button"
            mdbBtn
            outline="true"
            color="primary"
            rounded="true"
            size="sm"
            mdbWavesEffect
          >
            More...
          </button>
        </div>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
</div>
    </div>
</main>
<footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">
    <hr class="my-4">
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="" target="_blank"> Scripters.com </a>
    </div>
</footer>
</div>
