.main-content {
  height: 450px;
}
.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0px;
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.font-bold {
  font-weight: 600;
}

.card.card-cascade {
}
.view {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
}
.container-for-admin {
  background-color: #eee !important;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.main-container {
  margin-left: 18rem !important;
  padding-top: 3rem !important;
  min-height: 650px;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.container {
  min-height: 76vh;
  margin-left: 270px;
  margin-top: 60px;
  padding-top: 15px;
}

.card-title {
  color: #00a6eb !important;
}

#profileFooter {
  background-color: #00a6eb !important;
  color: #fff !important;
}

.pf-label {
  font-weight: 500;
  color: #000000ad
}

.pf-header-label {
  font-weight: 500;
  margin-top: 9px;
  color: #000000ad
}

.pf-header-label::after{
  content: ': ';
}

.no-data-section {
  border: 1px solid #dfdcdc;
  background: white;
  padding: 20px;
  text-align: center;
  color: red;
}

.flex-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  /*justify-content: space-between;*/
  justify-content: space-around;
}
.flex-container > div {
  padding: 20px;
  font-size: 12px;
  width: 32%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #EDEDF2;
  border-radius: 10px;
  background: #fff;
}
.pf-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
::ng-deep .card.card-cascade {
  border: none;
  box-shadow: none;
}
::ng-deep .card-body {
  padding: 0px;
}
.loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid gainsboro;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em; }
@media (max-width: 767px) {
  .main-container {
    margin-left: 0rem !important;
    margin-top: 0rem;
  }
  .flex-container { 
    display: block;
  }
  .flex-container > div {
    width: 100%;
    margin-bottom: 10px;
  }
  .pf-label, .pf-child {
    display: inline-block;
    width: 65px;
    text-align: center;
  }
  .pf-table {
    display: block;
  }
}
