<div class="container-for-admin">
<!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <app-header></app-header>
    <!-- Navbar -->

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
    <div class="container-fluid">
        <section class="container"><router-outlet></router-outlet></section>
    </div>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

    <hr class="my-4">

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="" target="_blank"> Scripters.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
</div>
<div toastContainer></div>

    