<app-nav></app-nav>

<section id="images" class="images-section">
    <div id="service-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center wow slideInDown">
                    <h2>Photos</h2>
                </div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-4">
                    <img src="../../images/photos/1.jpg" class="img-fluid" alt="Img">
                </div>
                <div class="col-md-4">
                    <img src="../../images/photos/2.jpg" class="img-fluid" alt="Img">
                </div>
                <div class="col-md-4">
                    <img src="../../images/photos/3.jpg" class="img-fluid" alt="Img">
                </div>
                <div class="col-md-4">
                    <img src="../../images/photos/4.jpg" class="img-fluid" alt="Img">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sponsors-section">
    <app-sponsors></app-sponsors>
</div>
<app-footer></app-footer>