
<div id="slider">
  <!-- START REVOLUTION SLIDER 5.0 -->
  <div class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
      <ul>
        <li data-transition="slideup" data-title="01" data-delay="5000">
          <!-- MAIN IMAGE -->
          <img src="img/cover2.jpg" alt="cover" width="1920" height="1280">
          <!-- LAYER NR. 1 -->
          <h1 class="tp-caption News-Title text-center" data-x="middle" data-hoffset="" data-y="middle" data-voffset="" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-fontsize="65"><b>UPASA</b>
          </h1>
          <h1 class="tp-caption News-Title  text-center" data-x="middle" data-hoffset="" data-y="middle" data-voffset="70" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1500" data-width="670" data-fontsize="65"><br /><br />Inspired by <span>Swami Vivekananda</span>
          </h1>
        </li>
        <li data-transition="slideup" data-title="02" data-delay="5000">
          <!-- MAIN IMAGE -->
          <img src="img/cover.jpg" alt="cover" width="1920" height="1280">
          <!-- LAYER NR. 1 -->
          <h1 class="tp-caption News-Title text-center" data-x="middle" data-hoffset="" data-y="middle" data-voffset="" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-fontsize="65">We Aim
          </h1>
          <p class="tp-caption News-Title  text-center" data-x="middle" data-hoffset="" data-y="middle" data-voffset="125" data-whitespace="normal" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="2200" data-width="870" data-fontsize="18">Health and Educational
            extension programs target the poor
          </p>
        </li>
        <li data-transition="slideup" data-title="03" data-delay="5000">
          <!-- MAIN IMAGE -->
          <img src="img/cover3.jpg" alt="cover" width="1920" height="1280">
          <!-- LAYER NR. 1 -->
          <h1 class="tp-caption News-Title text-center" data-x="middle" data-hoffset="" data-y="middle" data-voffset="" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-fontsize="65">Key Objective
          </h1>
          <p class="tp-caption News-Title  text-center" data-x="middle" data-hoffset="" data-y="middle" data-voffset="125" data-whitespace="normal" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="2200" data-width="870" data-fontsize="18">Organize and promote Telugu literary and educational events
          </p>
        </li>
      </ul>
    </div><!-- END REVOLUTION SLIDER -->
  </div><!-- END OF SLIDER WRAPPER -->
</div>