.home-section {
    padding-top: 15rem;
    width: 80%;
    margin-top: -50px;
  }
  .sponsors-section {
    width: 20%;
    float: right;
    position: relative;
    right: -36px;
  }
  @media (max-width: 767px) {
    .home-section {
      width: 100%;
    }
    .sponsors-section {
      display: none;
    }
  }