<app-nav></app-nav>

<section id="videos" class="videos-section">
    <div id="service-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center wow slideInDown">
                    <h2>Videos</h2>
                </div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-4">
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/qeDFdnoQANs" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/qeDFdnoQANs" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/qeDFdnoQANs" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/qeDFdnoQANs" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sponsors-section">
    <app-sponsors></app-sponsors>
</div>
<app-footer></app-footer>