<div class="sidebar-fixed position-fixed">
    <a class="waves-effect">
      <img src="../../images/upasa-logo.jpg" class="image-fluid" style="width: 100%;">
    </a>
    <div class="list-group list-group-flush">
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg"
        width="225px" />
    </div>
    <div class="list-group list-group-flush">
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg"
        width="225px" />
    </div>
    <div class="list-group list-group-flush">
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg"
        width="225px" />
    </div>
    <div class="list-group list-group-flush">
        <img src="https://d33wubrfki0l68.cloudfront.net/a71e0d639b39c83c46ed6eaa3a6f33c5885e2fe4/c61ec/assets/case-studies/yupptv-logo_2.svg"
        width="225px" />
    </div>
  </div>